@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Zen+Kurenaido&display=swap");

body {
    background-color: white;
    padding: 5px 25px;
    margin: 0;
    color: #444;
  }

  body p {
    font-family: "Zen Kurenaido", sans-serif;
    font-size: 20px;
  }