@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Zen+Kurenaido&display=swap");
    
header{
  display: flex;
  align-content: center;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto;
}

h1{
  font-family: "Cinzel", Serif;
  font-size: 35px;
}

#container{
  background-color: #0B2545;
  max-width: 750px;
  margin: 0 auto;
 
}

#input{
  display: flex;
  padding: 10px;
  
}

label{
  color: white;
  font-family: "Zen Kurenaido", San Serif;
  padding: 5px;
  font-size: 25px;

}

input{
  padding: 5px;
  width: 300px;
  
}

button{
  padding: 5px;
  margin-left: 10px;
  width: 150px;
}

.listcontainer{
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  margin: 10px;
  padding: 5px;
}
.list{
  font-family: "Zen Kurenaido", San Serif;
}

ul{
  list-style: none;
}

li{
  display: flex;
  color: white;
  font-family: "Zen Kurenaido", San Serif;
  justify-content: space-between;
  padding: 10px;
  font-size: 25px;
}