@media only screen and  (max-width: 800px) {
    nav button{
        display: none;
    }

    nav ul#primaryNav{
        display: flex;
        margin-left: 2vw;
    }
    nav ul li a{
        border: none;
    }
    
}