@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Zen+Kurenaido&display=swap");

#container{
    max-width: 960px;
        margin: 0 auto;
        padding: 1.5em;
}

header{
    background-color: #0B2545;
    padding: 5px 0;
    width: 100%;  
}

h1, h2, h3, h4{
    font-family: "Cinzel", Serif;
}

body p{
    font-family:  "Zen Kurenaido", San Serif;

}
.white, .white1{
    color: #FFFFFF;
}
.white1{
    margin-top: -20px;
}
#logo-area{
    display: flex;
}
.heading{
    display: flex;
    flex-direction: column;
}
.logo{
    height: auto;
    width: 100px;
    padding: 5px;
}
.fb, .ln{
    height: 40px;
    width: 40px;
    padding: 5px;;
}
.social{
    margin-left: 2.5rem;  
}

nav{
    background-color: #0B2545;

  }
  nav button{
      margin: .2rem 2vw;
      background: transparent;
      border: none;
      font-size: 2rem;
      color: #FFFFFF;
  }
  nav ul {
    list-style-type: none;
  }

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a{
    display: block;
    padding: .8rem 2vw;
    font-family: "Zen Kurenaido", San Serif;
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
    border-top: 1px solid;
}

nav ul li a:hover{
    background-color: #89A1EF;
}