@media only screen and (min-width: 64em){
    nav ul#primaryNav{
        justify-content: left;
        margin-left: 2vw;
    }
    header h1{
        font-size: 4rem;
    }
    .white{
        font-size: 3rem;
    }
    footer section{
        margin-left: 10rem;
    }
    header p{
        margin-top: -50px;
        font-size: 2rem;
      }
      /* for homepage */
      #home-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
      }
      #temple-display{
        grid-column: 1/2;
        grid-row: 1/3;
      }
      #weather{
        grid-column: 2/3;
        grid-row: 1/2;
      }
      /*for temple page*/
      #temple-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }
      /*for reception page*/
  .recep-grid, .fulltime-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
  .recep-grid picture img:hover {
    border-radius: 15px 100px;
  }
  .fulltime-grid picture img:hover{
    border-radius: 15px 100px;
  }
}