@media only screen and (min-width: 64em){
    nav ul#primaryNav{
        justify-content: left;
        margin-left: 2vw;
    }
    header h1{
        font-size: 4rem;
    }
    .white{
        font-size: 3rem;
    }
    footer section{
        margin-left: 10rem;
    }
    header p{
        margin-top: -50px;
        font-size: 2rem;
      }
      /*for temple page*/
      #temple-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        
      }
}