@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Zen+Kurenaido&display=swap");

body p {
    font-family: "Zen Kurenaido", sans-serif;
    font-size: 20px;
  }

  h1, h2, h3, h4 {
    font-family: "Cinzel", serif;
  }
  header, footer{
    background-color: #0B3948;
    padding: 5px 0;
    width: 100%;
    margin: auto;
    
  }
#logo-area{
    display: block;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    text-align: center;
    }
    header h1{
        color: #ffffff;
        font-size: 30px;
        text-align: center;
        margin-top: 15px;
        text-shadow: 5px 10px 10px #ffffff;
    }
    header p{
      margin-top: -20px;
      font-size: 1rem;
      color: #FFFFFF;
      text-shadow: 5px 10px 10px #ffffff;
    }
    header picture img{
        width: 200px;
        height: 150px;
        padding: 5px;   
        
    }
    .fb, .ln{
        height: 40px;
        width: 40px;
        padding: 5px;;
    }
    .social{ 
        margin-top: 25px; 
    }
    nav{
        background-color: inherit;
        margin-top: 5px;
      }
      nav button{
          margin: .2rem 2vw;
          background: transparent;
          border: none;
          font-size: 2rem;
          color: #FFFFFF;
      }
    nav ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    nav ul li a{
        display: block;
        padding: .8rem 2vw;
        font-family: "Zen Kurenaido", San Serif;
        font-size: 20px;
        text-decoration: none;
        color: #FFFFFF;
    }
    nav ul li a:hover{
        background-color: #89A1EF;
    }
    
    nav ul{
        display: none;
    }
    nav ul.open{
        display: block;
    }
    
#hamburgerBtn span:nth-child(1){
    display: block;
}
#hamburgerBtn span:nth-child(2){
    display: none;
}

#hamburgerBtn.open span:nth-child(1){
    display: none;
}
#hamburgerBtn.open span:nth-child(2){
    display: block;
}
footer{
    margin-top: 20px;
    text-align: center;
  }
  .foot{
    display: block;
    justify-content: space-between;
    color: #ffffff;
    margin-top: -25px;
    padding: 5px;
    text-align: center;
  }
  footer img{
    width:200px;
    height: 150px;
    padding: 5px;
  }
  footer h3{
    color: #ffffff;
    text-shadow: 5px 10px 10px #ffffff;
    padding-left: 10px;
  }
  footer a img{
    width: 100px;
    height: 100px;
    margin-top: -20px;
    padding-left: 10px;
  }
  .foot1{
    font-size: 15px;
  }
  .update{
    font-size: 15px;
  }
  /* for homepage*/
  #home-grid{
    display: block;
    margin: 1rem;
    text-align: center;
  }
  .aba{
    width: 300px;
    border-radius: 10px;
    padding: 5px;
  }
  .reserve{
    border: none;
    background-color: #0B3948;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  #temple-display, #weather, #forecast{
    border: thin solid ;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: #2D080A;
    color: #FFFFFF;
  }

 /*for temple page*/
 #temple-grid{
  display: block;
  margin: 1rem;
  text-align: center;
}
#temple-grid img{
  width: 300px;
  border-radius: 10px;
  padding: 5px;
}
#temple-grid section{
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #2D080A;
  color: #FFFFFF;
}
/*for contact page*/
form{
  margin: 2rem;
}
label.infor{
    display: block;
    padding: .75rem;
    color: #071136;
    font-size: 1rem;
} 
label.infor input, textarea{
    display: block;
    font-size: 1rem;
    border: 1px solid gray;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    max-width: 20rem;
    background-color: darkgray;
}
input.submitBtn{
  border: none;
  background-color: #0B3948;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 1rem;
}
input.submitBtn:hover{
    background-color: #89A1EF;
}
input.reserve:hover{
  background-color: #89A1EF;
}
label.infor input:required{
  border-left: red solid 6px;
}
label.infor input:required:valid{
  border-left: green solid 6px;
}
#reserve-thanks{
  text-align: center;
}